* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {

  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

h1{
  color: white;
  font-family: Silkscreen ;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}



.container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1.5fr 2fr 2fr 1.5fr;
  gap: 5px ;
}

.performence {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: rgb(0, 0, 0);
  border: solid 2px #ffffff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

.clock{
  font-family: Silkscreen ;
  display: flex;
  color: white;
  font-weight: 400;
  font-size: 50px;
}
.date {
  color: white;
  font-family: Silkscreen ;
  font-size: 18px;
  margin-bottom: 15px;

}

.battery-div{
  color: white;
  font-family: Bitcount Single ;
  margin-bottom: 20px;
}
.userstatus{
  color: white;
  font-family: Bitcount Single;
}

.weathername{
  font-family: Silkscreen;
  font-size:18px ;
  color:white;
  
}




  


.weather .weatherdata{
  color: white;
  font-family: Bitcount Single ;
  font-size: 18px;
  margin-left: 10px;
}



.terminal {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  background-color: rgb(0, 0, 0);
  border: solid 2px #ffffff;


}


#theterminal {
    width: 100%;
    height: 100%;
    border: none;
}


.filefolder {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  background-color: rgb(0, 0, 0);
  border: solid 2px #ffffff;
  padding: 10px;
}
.todo{
  color:white;
  align-items: top;
  font-family: Silkscreen;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
#taskInput{
  width: 100%;
  height: 12%;
  background-color: #000000;
  color: white;
  border: solid 1px white;
  margin-bottom: 5px;
}

input[type="checkbox"] {
    accent-color: #000000;
    
}

#taskList{
  align-items: center;
  color: white;
  font-family: Monda;
  font-size:14px;
  font-weight:200;
  font-family: Silkscreen;
}



.keyboard-container {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 3 / 5;
  background-color: #000000;
  border: solid 2px #ffffff;
  padding: 10px;
  justify-items: center;
  align-items: center;
}




#keyboard {
margin: 0;
padding: 0;
list-style: none;
align-self: center;
}
    #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 45px; 
    height: 45px;
    line-height: 40px;
    text-align: center;
    background: #000000;
    color: white;
    font-family: Bitcount Single ;
    font-size: 18px;
    border: 1px solid #f9f9f9;
  
    }
        .capslock, .tab, .left-shift {
        clear: left;
        }
            #keyboard .tab, #keyboard .delete {
            width: 112px;
            }
            #keyboard .capslock {
            width: 90px;
            }
            #keyboard .return {
            width: 183px;
            }
            #keyboard .left-shift {
            width: 130px;
            }
            #keyboard .right-shift {
            width: 130px;
            }
        .lastitem {
        margin-right: 0;
        }
        .uppercase {
        text-transform: uppercase;
        }
        #keyboard .space {
        width: 415px;
        }
        #keyboard .fool{
          width: 150px;
        }
        #keyboard .fool2{
          width: 70px;
        }
        .on {
        display: none;
        }
        #keyboard li:hover {
        position: relative;
        top: 1px;
        left: 1px;
        color: black;
        background-color: white;
        border-color: #e5e5e5;
        cursor: pointer;
        }
  #keyboard li.active {
	background-color: white;
	color: black;
	border-color: white;
}

.updates {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  background-color: rgb(0, 0, 0);
  border: solid 2px #ffffff;
}

.astroid{
  color:white;
  font-family: SilkScreen ;
  font-weight: 400;
  font-size: 18px;

}

.assdata{
  color:white;
  font-family: Bitcount Single;
  font-size: 18px;
  margin-left: 15px;
}

.terminal {
      --color: #4fd6e8;
      --background: #0a0e12;
      height: 100%;
      font-size: 15px;
    }





